In [1]:
from functions import *

# Courses

---

## General

The courses dataframe has information for all modules and their presentations.

In [2]:
courses.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

---

## Courses Contents

* **code_module**: The code module represents the code name of the course. Modules are identified with three capital letters which run sequentially between AAA and GGG
* **code_presentation**: The presentations are codified by their year and offering semester. B is for February and J is for October. 2013B for example is February of 2013. 
* **mode_presentation_length**: The module presentation length is the length of the course in days.

---

## Courses Information

**Size**

In [3]:
get_size(courses)

         Count
Columns      3
Rows        22

**Data Types**

In [4]:
get_dtypes(courses)

**Null Values:**

In [5]:
null_vals(courses)

**Unique Counts:**

In [6]:
count_unique(courses)

**Unique Categorical Values**:

In [7]:
courses_uniques = unique_vals(courses)
courses_uniques

**Duplicate Values**

In [8]:
get_dupes(courses)

No Duplicate Values

**Statistics:**

In [9]:
courses.describe().round(1)

Variable  module_presentation_length
count                           22.0
mean                           255.5
std                             13.7
min                            234.0
25%                            241.0
50%                            261.5
75%                            268.0
max                            269.0

---

## Modules and Presentations

In [10]:
mod_count = courses['code_module'].nunique()
presentation_count = courses['code_presentation'].nunique()
min_mod_count = courses['module_presentation_length'].min()
max_mod_count = courses['module_presentation_length'].max()
avg_mod_count = round(courses['module_presentation_length'].mean(), 1)

md(f'''There are {mod_count} unique modules delivered over {presentation_count} presentations as detailed below:''')

There are 7 unique modules delivered over 4 presentations as detailed below:

In [40]:
# making a crosstab to map each code module to its presentation
pd.crosstab(index=courses['code_module'], columns=courses['code_presentation'])

code_presentation  2013B  2013J  2014B  2014J
code_module
AAA                    0      1      0      1
BBB                    1      1      1      1
CCC                    0      0      1      1
DDD                    1      1      1      1
EEE                    0      1      1      1
FFF                    1      1      1      1
GGG                    0      1      1      1

In [42]:
md(f"""
## Module Presentation Length

* Modules range from {min_mod_count} to {max_mod_count} days in length.
* The average module is {avg_mod_count} days.
""")

## Module Presentation Length

* Modules range from 234 to 269 days in length.
* The average module is 255.5 days.