In [2]:
from functions import *

@register_cell_magic
def markdown(line, cell):
    return md(cell.format(**globals()))

<a id='Courses'></a>

---

<h2>Courses Dataframe</h2>

---

The courses datframe has information for all modules and their presentations.

In [3]:
courses.head()

  code_module code_presentation  module_presentation_length
0         AAA             2013J                         268
1         AAA             2014J                         269
2         BBB             2013J                         268
3         BBB             2014J                         262
4         BBB             2013B                         240

---

<h4>Contents</h4>

* <b>code_module</b>: The code module represents the code name of the course. Modules are identified with three capital letters which run sequentially between AAA and GGG
* <b>code_presentation</b>: The presentations are codified by their year and offering semester. B is for February and J is for October. 2013B for example is February of 2013. 
* <b>mode_presentation_length</b>: The module presentation length is the length of the course in days.

---

<h4>Courses Information</h4>

In [4]:
courses_types = analyze_df(courses, types=True)
courses_nulls = analyze_df(courses, nulls=True)
courses_nunique = analyze_df(courses, uniques=True)
courses_dupes = analyze_df(courses, dupes=True)
courses_nums = analyze_df(courses, nums=True)

In [5]:
md(f'''
<b>Size</b>
    
* Number of Rows: {analyze_df(courses, rowlen=True)}
* Number of Columns: {analyze_df(courses, collen=True)}

<b>Data Types</b>
''')

<b>Size</b>

* Number of Rows: 22
* Number of Columns: 3

<b>Data Types</b>

In [6]:
courses.dtypes

code_module                   object
code_presentation             object
module_presentation_length     int64
dtype: object

<b>Null Values:</b>

In [7]:
courses_nulls

<b>Unique Counts:</b>

In [8]:
courses.nunique()

code_module                   7
code_presentation             4
module_presentation_length    7
dtype: int64

<b>Unique Categorical Values</b>:

In [9]:
unique_vals(courses)

code_module: ['AAA' 'BBB' 'CCC' 'DDD' 'EEE' 'FFF' 'GGG']

code_presentation: ['2013J' '2014J' '2013B' '2014B']

<b>Duplicate Values</b>

In [10]:
analyze_df(courses, dupes=True)

'No Duplicate Values'

<b>Statistics:</b>

In [11]:
courses.describe().round(1)

       module_presentation_length
count                        22.0
mean                        255.5
std                          13.7
min                         234.0
25%                         241.0
50%                         261.5
75%                         268.0
max                         269.0

---

<h4>Modules and Presentations</h4>

In [57]:
mod_count = courses['code_module'].nunique()
presentation_count = courses['code_presentation'].nunique()
min_mod_count = courses['module_presentation_length'].min()
max_mod_count = courses['module_presentation_length'].max()
avg_mod_count = round(courses['module_presentation_length'].mean(), 1)

md(f'''* There are {mod_count} unique modules delivered over {presentation_count} presentations as detailed below:''')

* There are 7 unique modules delivered over 4 presentations as detailed below:

In [16]:
# making a crosstab to map each code module to its presentation
pd.crosstab(index=courses['code_module'], columns=courses['code_presentation'])

code_presentation  2013B  2013J  2014B  2014J
code_module
AAA                    0      1      0      1
BBB                    1      1      1      1
CCC                    0      0      1      1
DDD                    1      1      1      1
EEE                    0      1      1      1
FFF                    1      1      1      1
GGG                    0      1      1      1

In [29]:
%%markdown

---

<h4>Module Presentation Length</h4>

* Modules range from {min_mod_count} to {max_mod_count} days in length.
* The average module is {avg_mod_count} days.

---

<h4>Module Presentation Length</h4>

* There are 7 modules and 4 presentations.
* Modules range from 234 to 269 days in length.
* The average module is 255.5 days.