In [2]:
from functions import *

# Student VLE
---

The Student VLE Dataframe contains information about student interactions with the online resources in the Virtual Learning Environment

In [3]:
student_vle.head()

  code_module code_presentation  id_student  id_site  date  sum_click
0         AAA             2013J       28400   546652   -10          4
1         AAA             2013J       28400   546652   -10          1
2         AAA             2013J       28400   546652   -10          1
3         AAA             2013J       28400   546614   -10         11
4         AAA             2013J       28400   546714   -10          1

---

## Student VLE Contents

* **code_module**: The code module is the module the resource and student are associated with.
* **code_presentation**: The code presentation represents the time the module was held at.
* **id_site**: The site ID is the unique identifier for the online resource with which the student engaged.
* **date**: The date represents the date that the student engaged with the material relevant to the start date of the module.
* **sum_click**: The sum click represents the number of clicks the student made on that day.

---

## Student VLE Information

In [5]:
**Size**

SyntaxError: invalid syntax (<ipython-input-5-c46aeb1d7fd0>, line 1)

In [6]:
**Data Types**

SyntaxError: invalid syntax (<ipython-input-6-550c9279dc3c>, line 1)

In [7]:
**Null Values**

SyntaxError: invalid syntax (<ipython-input-7-f941ff5bfcea>, line 1)

In [8]:
**Duplicate Values**

SyntaxError: invalid syntax (<ipython-input-8-50a9187519a6>, line 1)

In [9]:
**Unique Value Counts**

SyntaxError: invalid syntax (<ipython-input-9-a4f66d12bba2>, line 1)