In [ ]:
from functions import *
from ipynb.fs.full.Student_Info import student_info
from ipynb.fs.full.Student_Registration import student_registration

<a id='StudentInfo'></a>

# Student Info and Student Registration

---

```{note}
* The student registration dataframe matches 1:1 with the student_info dataframe only adding the date the student registered and the date, if applicable, they unregistered, and so we will merge these two dataframes
* The dataframe columns can then be reordered to keep relevent data together. 
```

In [8]:
# outer join and merge student info with student registration
student_info_reg = student_info.merge(student_registration, how='outer', on=['code_module', 'code_presentation', 'id_student'], indicator=True)

# locating where there is student info that did not match with student registration
only_student_info = student_info_reg.loc[student_info_reg['_merge']=='left_only']

# reordering the student_info dataframe to keep country, module and student data together
student_info_reg = student_info_reg[['code_module', 'code_presentation', 'id_student', 'region', 'imd_band', 'age_band', 'gender', 'highest_education', 'disability', 'final_result', 'date_registration', 'date_unregistration']]

**Updated Dataframe**

In [9]:
student_info_reg.head()

,code_module,code_presentation,id_student,region,imd_band,age_band,gender,highest_education,disability,final_result,date_registration,date_unregistration
0,AAA,2013J,11391,East Anglian Region,90-100%,55<=,M,HE Qualification,False,Pass,-159,<NA>
1,AAA,2013J,28400,Scotland,20-30%,35-55,F,HE Qualification,False,Pass,-53,<NA>
2,AAA,2013J,30268,North Western Region,30-40%,35-55,F,A Level or Equivalent,True,Withdrawn,-92,12
3,AAA,2013J,31604,South East Region,50-60%,35-55,F,A Level or Equivalent,False,Pass,-52,<NA>
4,AAA,2013J,32885,West Midlands Region,50-60%,0-35,F,Lower Than A Level,False,Pass,-176,<NA>

In [10]:
get_size(student_info_reg)

         Count
Columns     12
Rows     32593

In [11]:
# changing id_student to the object data type
student_info_reg['id_student'] = student_info_reg['id_student'].astype(object)

**Unique Counts:**

In [13]:
count_unique(student_info_reg)

**Unique Categorical Values**

In [15]:
unique_vals(student_info_reg)