In [1]:
from functions import *

# VLE
---

The VLE dataframe contains information about materials available on the Virtual Learning Environment.

In [26]:
# show first 5 of vle dataframe
vle.head()

  id_site code_module code_presentation activity_type
0  546943         AAA             2013J      resource
1  546712         AAA             2013J     oucontent
2  546998         AAA             2013J      resource
3  546888         AAA             2013J           url
4  547035         AAA             2013J      resource

---

## VLE Contents

* **id_site**: The site ID is the unique identifier for the online resource.
* **code_module**: The code module is the module the resource is associated with.
* **code_presentation**: The code presentation represents the time the module was held at.
* **activity_type**: The activity type is the type of online material.
* **week_from**: The week from is the week the material was intended to be used from.
    - week_from will not be used in our analysis due to it being irrelevant information and will be dropped.
* **week_to**: The week to is the week the material was intended to be used until.
    - week_to will not be used in our analysis due to it being irrelevant information and will be dropped.

In [3]:
# dropping week_to and week_from from VLE dataframe
vle = vle.drop(columns=['week_from', 'week_to'])

---

## VLE Information

**Size**

In [9]:
# return a dataframe of column and row count
get_size(vle)

         Count
Columns      4
Rows      6364

In [12]:
# store the size of vle's columns
vle_cols = len(vle.columns)
# store the size of vle's rows
vle_rows = len(vle)
md(f'''
VLE has {vle_cols} columns and {"{:,}".format(vle_rows)} rows which represent the online resources we have data for.
''')

VLE has 4 columns and 6,364 rows which represent the online resources we have data for.

**Data Types**

In [14]:
# return a dataframe of vle's columns' data types
get_dtypes(vle)

* `id_site` is categorical and will need to be changed into a `string`
* `object` datatypes will again be turned into strings

In [18]:
# change id_site to string type
vle['id_site'] = vle['id_site'].astype(str)
# convert all other types to ideal typings for pandas
vle = vle.convert_dtypes()
# show new datatypes dataframe
get_dtypes(vle)

**Null Values**

In [19]:
# return a dataframe of null values if any
null_vals(vle)

**Duplicate Values**

In [20]:
# return a dataframe of duplicate rows if any
get_dupes(vle)

There are no Duplicate Values

**Unique Value Counts**

In [22]:
# return a dataframe of counts of unique values per column
count_unique(vle)

**Unique Categorical Values**

In [25]:
# return a dataframe of unique categorical variables' values
unique_vals(vle)