In [1]:
from functions import *

@register_cell_magic
def markdown(line, cell):
    return md(cell.format(**globals()))

;

''

---

<h2>Assessments and Student Assessments Dataframes</h2>

---

<h3>Assessments</h3>

The assessments dataframe contains information about the unique assessments in each code module and presentation.

In [2]:
assessments.head()

  code_module code_presentation  id_assessment assessment_type   date  weight
0         AAA             2013J           1752             TMA   19.0    10.0
1         AAA             2013J           1753             TMA   54.0    20.0
2         AAA             2013J           1754             TMA  117.0    20.0
3         AAA             2013J           1755             TMA  166.0    20.0
4         AAA             2013J           1756             TMA  215.0    30.0

---

<h4>Assessments Contents</h4>

* <b>code_module</b>: The code module represents the code name of the course the assessment was held for.
* <b>code_presentation</b>: The presentation represents the presentation which the test was held for.
* <b>id_assessment</b>: The assessment ID is the unique identifier for each assessment.
* <b>assessment_type</b>: The assessment type represents the kind of assessment it was.
    - There are three assessment types:
        * TMA: Tutor Marked Assessment
        * CMA: Computer Marked Assessment
        * Exam: The Final Exam
* <b>date</b>: The date is how many days from the start of the course the assessment took place
* <b>weight</b>: The weight is the weighted value of the assessment. Exams should have a weight of 100 which the rest of the assessments should add to 100 in total.

---

<h3>Student Assessments</h3>

The Student Assessments dataframe contains information about each student and the assessments they took during the module

In [3]:
student_assessment.head()

   id_assessment  id_student  date_submitted  is_banked  score
0           1752       11391              18          0   78.0
1           1752       28400              22          0   70.0
2           1752       31604              17          0   72.0
3           1752       32885              26          0   69.0
4           1752       38053              19          0   79.0

---

<h4>Student Assessment Contents</h4>

* <b>id_assessment</b>: The assessment ID is the unique identifier for the assessment the student took.
* <b>id_student</b>: The student ID is the unique identifier for the student who took the assessment.
* <b>date_submitted</b>: The date submitted is the date the student submitted the exam relevant to the start date of the module.
* <b>is_banked</b>: Whether the score for the assessment is banked indicates wheter the assessment result was transferred from a previous presentation.
    - is_banked does indicate that the student took the course previously, but since it is their first score that is retained it is not a confounder and entries with a 1 for is_banked will be kept.
    - is_banked has no other relevant information though and so can be removed.

In [4]:
# remove is_banked column from dataframe
student_assessment = student_assessment.drop(columns=['is_banked'])

```{note}
Since we are only interested in information that is directly relevant to our students, and since assessments just contains extra information about our student assessments, we will merge the assessments and student_assessment dataframes.
```

---

<h4>Assessments and Student Assessments Merged Dataframe:</h4>

In [5]:
# merges dataframes student_assessment with assessments with a full outer join on their common ID id_assessment
# creates a column _merge which tells you if the id_assessment was found in one or both dataframes
merged_assessments = student_assessment.merge(assessments, how='outer', on=['id_assessment'] ,indicator=True)
merged_assessments.head()

,id_assessment,id_student,date_submitted,score,code_module,code_presentation,assessment_type,date,weight,_merge
0,1752,11391.0,18.0,78.0,AAA,2013J,TMA,19.0,10.0,both
1,1752,28400.0,22.0,70.0,AAA,2013J,TMA,19.0,10.0,both
2,1752,31604.0,17.0,72.0,AAA,2013J,TMA,19.0,10.0,both
3,1752,32885.0,26.0,69.0,AAA,2013J,TMA,19.0,10.0,both
4,1752,38053.0,19.0,79.0,AAA,2013J,TMA,19.0,10.0,both

* Our new merge column tells us if the data maps perfectly, or if it is only found on the right or left side, the right side being the assessments dataframe and the left side being the student_assessments dataframe

<b>Rows that do not map:</b>

In [6]:
merged_assessments.loc[merged_assessments['_merge'] != 'both']

,id_assessment,id_student,date_submitted,score,code_module,code_presentation,assessment_type,date,weight,_merge
173912,1757,NaN,NaN,NaN,AAA,2013J,Exam,NaN,100.0,right_only
173913,1763,NaN,NaN,NaN,AAA,2014J,Exam,NaN,100.0,right_only
173914,14990,NaN,NaN,NaN,BBB,2013B,Exam,NaN,100.0,right_only
173915,15002,NaN,NaN,NaN,BBB,2013J,Exam,NaN,100.0,right_only
173916,15014,NaN,NaN,NaN,BBB,2014B,Exam,NaN,100.0,right_only
173917,15025,NaN,NaN,NaN,BBB,2014J,Exam,NaN,100.0,right_only
173918,40087,NaN,NaN,NaN,CCC,2014B,Exam,NaN,100.0,right_only
173919,40088,NaN,NaN,NaN,CCC,2014J,Exam,NaN,100.0,right_only
173920,30713,NaN,NaN,NaN,EEE,2013J,Exam,235.0,100.0,right_only
173921,30718,NaN,NaN,NaN,EEE,2014B,Exam,228.0,100.0,right_only
173922,30723,NaN,NaN,NaN,EEE,2014J,Exam,235.0,100.0,right_only
173923,34872,NaN,NaN,NaN,FFF,2013B,Exam,222.0,100.0,right_only
173924,34885,NaN,NaN,NaN,FFF,2013J,Exam,236.0,100.0,right_only
173925,34898,NaN,NaN,NaN,FFF,2014B,Exam,227.0,100.0,right_only
173926,34911,NaN,NaN,NaN,FFF,2014J,Exam,241.0,100.0,right_only
173927,37424,NaN,NaN,NaN,GGG,2013J,Exam,229.0,100.0,right_only
173928,37434,NaN,NaN,NaN,GGG,2014B,Exam,222.0,100.0,right_only
173929,37444,NaN,NaN,NaN,GGG,2014J,Exam,229.0,100.0,right_only

These rows all have entries in the assessments dataframe but have no match in the student_assessment dataframe. This indicates that no students in our data took these exams, and so we will drop them, and then the merge column since it will have no more useful information.

In [7]:
# remove tests that students did not take
# reset the index to be consecutive again
merged_assessments = merged_assessments.dropna(subset=['id_student']).reset_index(drop=True)

In [8]:
# drop the merge column since it is no longer of use
merged_assessments = merged_assessments.drop(columns=['_merge']).reset_index(drop=True)

---

<h4>Testing Area

In [9]:
len(merged_assessments)

173912

In [10]:
student_assessment.loc[student_assessment['id_student']==11391]

      id_assessment  id_student  date_submitted  score
0              1752       11391              18   78.0
501            1753       11391              53   85.0
842            1754       11391             115   80.0
1032           1755       11391             164   85.0
1457           1756       11391             212   82.0

In [11]:
merged_assessments.loc[merged_assessments['code_module'] == 'AAA']

,id_assessment,id_student,date_submitted,score,code_module,code_presentation,assessment_type,date,weight
0,1752,11391.0,18.0,78.0,AAA,2013J,TMA,19.0,10.0
1,1752,28400.0,22.0,70.0,AAA,2013J,TMA,19.0,10.0
2,1752,31604.0,17.0,72.0,AAA,2013J,TMA,19.0,10.0
3,1752,32885.0,26.0,69.0,AAA,2013J,TMA,19.0,10.0
4,1752,38053.0,19.0,79.0,AAA,2013J,TMA,19.0,10.0
...,...,...,...,...,...,...,...,...,...
3144,1762,2654628.0,216.0,74.0,AAA,2014J,TMA,215.0,30.0
3145,1762,2677624.0,215.0,79.0,AAA,2014J,TMA,215.0,30.0
3146,1762,2680312.0,220.0,85.0,AAA,2014J,TMA,215.0,30.0
3147,1762,2688166.0,214.0,46.0,AAA,2014J,TMA,215.0,30.0
3148,1762,2692514.0,215.0,74.0,AAA,2014J,TMA,215.0,30.0

In [12]:
assessments['module_presentation'] = assessments['code_module'] + assessments['code_presentation']
merged_assessments['module_presentation'] = merged_assessments['code_module'] + merged_assessments['code_presentation']

In [13]:
assessments

,code_module,code_presentation,id_assessment,assessment_type,date,weight,module_presentation
0,AAA,2013J,1752,TMA,19.0,10.0,AAA2013J
1,AAA,2013J,1753,TMA,54.0,20.0,AAA2013J
2,AAA,2013J,1754,TMA,117.0,20.0,AAA2013J
3,AAA,2013J,1755,TMA,166.0,20.0,AAA2013J
4,AAA,2013J,1756,TMA,215.0,30.0,AAA2013J
...,...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0,GGG2014J
202,GGG,2014J,37435,TMA,61.0,0.0,GGG2014J
203,GGG,2014J,37436,TMA,124.0,0.0,GGG2014J
204,GGG,2014J,37437,TMA,173.0,0.0,GGG2014J
205,GGG,2014J,37444,Exam,229.0,100.0,GGG2014J

In [14]:
merged_assessments

,id_assessment,id_student,date_submitted,score,code_module,code_presentation,assessment_type,date,weight,module_presentation
0,1752,11391.0,18.0,78.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
1,1752,28400.0,22.0,70.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
2,1752,31604.0,17.0,72.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
3,1752,32885.0,26.0,69.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
4,1752,38053.0,19.0,79.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
...,...,...,...,...,...,...,...,...,...,...
173907,37443,527538.0,227.0,60.0,GGG,2014J,CMA,229.0,0.0,GGG2014J
173908,37443,534672.0,229.0,100.0,GGG,2014J,CMA,229.0,0.0,GGG2014J
173909,37443,546286.0,215.0,80.0,GGG,2014J,CMA,229.0,0.0,GGG2014J
173910,37443,546724.0,230.0,100.0,GGG,2014J,CMA,229.0,0.0,GGG2014J
173911,37443,558486.0,224.0,80.0,GGG,2014J,CMA,229.0,0.0,GGG2014J

In [15]:
assessments[assessments['module_presentation'] == 'AAA2013J']

,code_module,code_presentation,id_assessment,assessment_type,date,weight,module_presentation
0,AAA,2013J,1752,TMA,19.0,10.0,AAA2013J
1,AAA,2013J,1753,TMA,54.0,20.0,AAA2013J
2,AAA,2013J,1754,TMA,117.0,20.0,AAA2013J
3,AAA,2013J,1755,TMA,166.0,20.0,AAA2013J
4,AAA,2013J,1756,TMA,215.0,30.0,AAA2013J
5,AAA,2013J,1757,Exam,NaN,100.0,AAA2013J

In [16]:
merged_assessments.loc[merged_assessments['module_presentation'] == 'AAA2013J']

,id_assessment,id_student,date_submitted,score,code_module,code_presentation,assessment_type,date,weight,module_presentation
0,1752,11391.0,18.0,78.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
1,1752,28400.0,22.0,70.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
2,1752,31604.0,17.0,72.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
3,1752,32885.0,26.0,69.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
4,1752,38053.0,19.0,79.0,AAA,2013J,TMA,19.0,10.0,AAA2013J
...,...,...,...,...,...,...,...,...,...,...
1628,1756,572652.0,215.0,76.0,AAA,2013J,TMA,215.0,30.0,AAA2013J
1629,1756,580389.0,215.0,67.0,AAA,2013J,TMA,215.0,30.0,AAA2013J
1630,1756,588775.0,213.0,81.0,AAA,2013J,TMA,215.0,30.0,AAA2013J
1631,1756,591774.0,215.0,60.0,AAA,2013J,TMA,215.0,30.0,AAA2013J
1632,1756,603861.0,222.0,71.0,AAA,2013J,TMA,215.0,30.0,AAA2013J

In [ ]:
new_df = pd.DataFrame()
count = 0
# modules = ['AAA', 'BBB', 'CCC', 'DDD', 'EEE', 'FFF', 'GGG']
# for x in modules:
for index, row in merged_assessments.loc[merged_assessments['module_presentation'] == 'AAA2013J'].iterrows():
    for i, r in assessments[assessments['module_presentation'] == 'AAA2013J'].iterrows():
        if str(merged_assessments['module_presentation'][index]) == str(assessments['module_presentation'][i]):
             if (assessments['id_assessment'][i]) not in (merged_assessments.loc[merged_assessments['id_student'] == merged_assessments['id_student'][index], 'id_assessment']):
                new_df = new_df.append((row, r), ignore_index=True)
                count += 1
                print(f"{count} rows appended", end="\r")

In [ ]:
merged_assessments.tail(20)

merged_assessmentsssessments Information</h4>

<b>Updated Dataframe</b>

In [ ]:
merged_assessments.head()

<b>Size</b>

In [ ]:
md(f'''* Number of Rows: {len(merged_assessments)}
* Number of Columns: {len(merged_assessments.columns)}''')

<b>Data Types</b>

In [ ]:
merged_assessments.dtypes

* id_student and id_assessments are both categorical values and so should be converted to objects

In [ ]:
# converting the data types
merged_assessments = merged_assessments.astype({'id_assessment': int, 'id_student': int})
merged_assessments = merged_assessments.astype({'id_assessment': object, 'id_student': object})

<b>Null Values</b>

In [ ]:
# prints the sum of a columns null value
merged_assessments.isnull().sum()

* We have 2,873 null data points for assessment date. The documentation of this dataset states that if the exam date is missing then it is as the end of the last presentation week. We can find this information in the courses dataframe.

In [ ]:
# adding the dates for the null test dates
for index, row in merged_assessments[merged_assessments['date'].isna()].iterrows():
    merged_assessments.at[index, 'date'] = courses.loc[(courses['code_module'] == row['code_module']) & (courses['code_presentation'] == row['code_presentation']), 'module_presentation_length']

# reprinting to ensure it worked
merged_assessments.isnull().sum()

* There are 173 null values for score. These records are, unfortunately not of much interest to us, since score is what we are trying to find the relationship for, and so we will discard them. This leaves us with no null data in assessments.

In [ ]:
# removes any entry where the score is NaN
merged_assessments = merged_assessments.dropna(subset=['score'])

# reprinting to ensure it worked
merged_assessments.isnull().sum()

<b>Merged Assessment/Student_info dataframes</b>

In order to remove the students that we removed for the number of previous attempts, we must merge assessments and student info and find the difference

In [ ]:
# merged 'student info/assessments' with a full outer join on their common columns
merged_si_assm = merged_assessments.merge(student_info, how='outer', on=['id_student', 'code_module', 'code_presentation'], indicator=True)
merged_si_assm.head()

For this merge column the right side would be the student info dataframe and the left side would be assessments. If an entry receives the label of right_only there is a student who has no assessments, if the label is left_only, there is an assessment that doesn't match up with a student.

In [ ]:
# variable for where merge is left_only, and only found on the 
only_assessments = merged_si_assm.loc[merged_si_assm['_merge']=='left_only']
only_student_info = merged_si_assm.loc[merged_si_assm['_merge']=='right_only']

<b>Assessments that do not map to students</b>:

In [ ]:
only_assessments.head()

<b>Students without any test scores<b>:

In [ ]:
only_student_info.head()

In [ ]:
md(f'''
    We have {len(only_assessments)} values in only assessments, which map to students who had made previous attempts which we eliminated, and {len(only_student_info)} values in only student_info, which means we have students for whom we have no test scores.
    We can drop both of these which are missing values for the purpose of this dataframe since we are just analyzing test scores
    ''')

In [ ]:
# merging assessments with the original student data dataframe to make sure that the missing students are the ones we removed.
merged_test = merged_assessments.merge(student_info, how='outer', on=['id_student', 'code_module', 'code_presentation'], indicator=True)

# removing entries where num_prev_attempts == 0
merged_test = merged_test[merged_test['num_of_prev_attempts'] == 0]

# checking if any in only the student info dataframe remain (left_only). No output means all of the tests without students map to a student where num_prev_attempts == 0
merged_test.loc[merged_test['_merge']=='left_only']

In [ ]:
# removing any student with NaN values in id_assessment or region
merged_si_assm = merged_si_assm.dropna(subset=['id_assessment', 'region'])

In [ ]:
# reordering dataframe columns to group like data
merged_si_assm = merged_si_assm[['code_module', 'code_presentation', 'id_student', 'region', 'imd_band', 'age_band', 'gender', 'highest_education', 'disability', 'final_result', 'id_assessment', 'assessment_type', 'date_submitted', 'date', 'weight', 'score']]

In [ ]:
# converting the data types back
merged_si_assm = merged_si_assm.astype({'id_assessment': int, 'id_student': int})
merged_si_assm = merged_si_assm.astype({'id_assessment': object, 'id_student': object})

In [ ]:
# reset the index
merged_si_assm.reset_index(drop=True).head()

In [ ]:
cleaned_assessments = merged_si_assm

<b>Unique Counts</b>

In [ ]:
cleaned_assessments.nunique()

<b>Unique Categorical Values</b>

In [ ]:
unique_vals(cleaned_assessments)

<b>Duplicate Values:</b>

In [ ]:
duplicate_vals(cleaned_assessments)

<b>Statistics</b>

In [ ]:
cleaned_assessments.describe()

In [ ]:
cleaned_assessments

In [ ]:
assessments

In [ ]:
cleaned_assessments.loc[cleaned_assessments['id_student'] == 11391, 'id_assessment']

if a test id is in assessments in the same code module and presentation as a student is in:
    if the test is already in the dataframe under that student id:
        do nothing
    else:
        add the test with all the same student information, the assessment id, type, and weight to the dataframe

In [ ]:
count = 0

# iterate through cleaned_assessments dataframe
for i, r in assessments.iterrows():
    for index, row in cleaned_assessments.iterrows():
    # iterate through assessments dataframe
    
        # if the code module in cleaned_assessments is the same as the code_module in assessments
        # convert to strings to compare
        if str(cleaned_assessments['code_module'][index]) == str(assessments['code_module'][i]):
            # if the code presentations are also the same
            if str(cleaned_assessments['code_presentation'][index]) == str(assessments['code_presentation'][i]):
                # if the assessment id is not found under that student append another row with that students information and the test they are missing
                if assessments['id_assessment'][i] not in cleaned_assessments.loc[cleaned_assessments['id_student'] == cleaned_assessments['id_student'][index], 'id_assessment']:
                    cleaned_assessments = cleaned_assessments.append([cleaned_assessments['code_module'][index], cleaned_assessments['code_presentation'][index], cleaned_assessments['id_student'][index], cleaned_assessments['region'][index], cleaned_assessments['imd_band'][index], cleaned_assessments['age_band'][index], cleaned_assessments['gender'][index], cleaned_assessments['highest_education'][index], cleaned_assessments['disability'][index], assessments['id_assessment'][i], assessments['assessment_type'][i], assessments['weight'][i]])
                    count += 1
                    print(f"{count} rows appended", end="\r")

In [ ]:
aggregates = { 'assessment_type':'first','weight':'sum'}
assessments.groupby(['code_module','code_presentation']).aggregate(aggregates).reset_index()

In [ ]:

for index, row in cleaned_assessments.iterrows():
    for i, r in assessments.iterrows():
        if cleaned_assessments['code_module'][index] == assessments['code_module'][i]:
            if cleaned_assessments['code_presentation'][index] == assessments['code_presentation'][i]:
                cleaned_assessments.append([cleaned_assessments['code_module'][index], cleaned_assessments['code_presentation'][index], cleaned_assessments['id_student'][index], cleaned_assessments['region'][index], cleaned_assessments['imd_band'][index], cleaned_assessments['age_band'][index], cleaned_assessments['gender'][index], cleaned_assessments['highest_education'][index], cleaned_assessments['disability'][index], assessments['id_assessment'][i], assessments['assessment_type'][i], assessments['weight'][i]])

In [ ]:
for index, row in cleaned_assessments.loc[cleaned_assessments['final_result'] == 'Withdrawn'].iterrows():
    for i, r in assessments.iterrows():
        if cleaned_assessments['code_module'][index] == assessments['code_module'][i]:
            if cleaned_assessments['code_presentation'][index] == assessments['code_presentation'][i]:
                cleaned_assessments.append([cleaned_assessments['code_module'][index], cleaned_assessments['code_presentation'][index], cleaned_assessments['id_student'][index], cleaned_assessments['region'][index], cleaned_assessments['imd_band'][index], cleaned_assessments['age_band'][index], cleaned_assessments['gender'][index], cleaned_assessments['highest_education'][index], cleaned_assessments['disability'][index], assessments['id_assessment'][i], assessments['assessment_type'][i], assessments['weight'][i]])

In [ ]:
pd.concat(x for _, x in cleaned_assessments.groupby("id_assessment") if len(x) > 1).head()

In [ ]:
for i, r in assessments[student_info.loc['final_result'] == 'Withdrawn'].iterrows():
        cleaned_assessments.append(courses.loc[(courses['code_module'] == row['code_module']) & (courses['code_presentation'] == row['code_presentation']), 'module_presentation_length']

In [ ]:
student_assessment

In [ ]:
assessments

In [ ]:
cleaned_assessments

In [ ]:
for index, row in student_info.iterrows():
    for i, r in assessments.iterrows():
        if student_info['code_module'][index] == assessments['code_module'][i]:
            if student_info['code_presentation'][index] == assessments['code_presentation'][i]:
                new_df = new_df.append([student_info['code_module'][index], student_info['code_presentation'][index], student_info['id_student'][index], assessments['id_assessment'][i], assessments['assessment_type'][i], assessments['weight'][i]])
                print(f"{len(new_df)}/ rows appended", end="\r")